[Desktop Entry]
Comment[en_US]=Cambia la salida de audio
Comment=Cambia la salida de audio
Encoding=UTF-8
Exec=RotAudio.sh
GenericName[en_US]=
GenericName=
Icon=kmix
MimeType=
Name[en_US]=RotAudio
Name=RotAudio
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
