[Desktop Entry]
Comment[en_US]=Cambia la salida de audio de HDMI a Analog Duplex y viceversa
Comment=Cambia la salida de audio de HDMI a Analog Duplex y viceversa
Encoding=UTF-8
Exec=SwapAudio.sh
GenericName[en_US]=
GenericName=
Icon=bittorrent-sync
MimeType=
Name[en_US]=SwapAudio
Name=SwapAudio
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
